@using ViewsExample.Models
@{
        string title = "Views test";
        List<Person> people = new List<Person>
        {
            new Person { Name = "John Doe",
            DateofBirth = new DateTime(1990,1,1), Gender = Gender.Male },
            new Person { Name = "Jasmine ali",
            DateofBirth = new DateTime(1992,2,2), Gender = Gender.Female },
            new Person { Name = "Jane Smith",
            DateofBirth = new DateTime(1995,3,3), Gender =  Gender.Female }
        };
 }
<!DOCTYPE html>
<html>
    <head> 
        <title>@title</title>
        <meta charset="utf-8" /> 
    </head>
    <body>
        <h1>Welcome to ASP.NET Core!</h1>
    @foreach (var person in people)
    {
        <div>
            <h2>@person.Name</h2>
            <p>Date of Birth: @person.DateofBirth?.ToString("d")</p>
            <p>Gender: @person.Gender</p>
        </div>
    }
    </body>
</html>